<p class="clay-paragraph" data-editable="text" data-uri="{{ default _ref _self }}" data-word-count="{{ wordCount text }}">{{{ text }}}</p>
{{! todo: rename this file to .hbs after amphora is updated to support multiplex-templates v1.3.0 }}